<!DOCTYPE html>
<html lang="es">
<title>Ingeniería de Software</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../CSS/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<body>

    <!-- Access form -->
    <div class="w3-container w3-red w3-center" style="margin-top:100px">
        <h2>Acceso a tu Resumen</h2>
    </div>
    <form class="w3-container w3-center">
        <!-- Password field -->
        <input class="w3-input" type="text">
        <label>Contraseña</label>
    </form>

</body>

</html>