.button2 {
    background-color: #c6bdbb;
    /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.2px 2px;
    cursor: pointer;
}

.button2 {
    width: 50%;
    border-radius: 12px;
}

.button2.button2:hover {
    background-color: #FFA07A;
}

.form-inline label {
    margin: 5px 0 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px;
    padding: 5px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 5px 10px;
    background-color: #c6bdbb;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 8px;
}

.form-inline button:hover {
    background-color: #FFA07A;
}

table.orange {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0.5% 0.5%;
    font-size: 15px;
}

table.orange td {
    border: 1px solid #665f5f;
    text-align: left;
    width: 12%;
    padding: 1%;
}

table.orange th {
    border: 1px solid #665f5f;
    text-align: center;
    width: 12%;
    padding: 1%;
}
table.orange tr:nth-child(even) {
    background-color: #FFA07A;
}

.btn-group .button {
    background-color: #c6bdbb;
    border: none;
    color: black;
    padding: 15px 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 18px 2%;
}

.btn-group .button {
    border-radius: 12px;
}

.btn-group .button:hover {
    background-color: #FFA07A;
}

.button1 {
    background-color: #BF1010;
    border: none;
    color: white;
    padding: 15px 4.6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 18px 2%;
    cursor: pointer;
    border-radius: 12px;
}

.button1.button1:hover {
    background-color: #FFA07A;
}

.button-add {
    background-color: #099917;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 18px 2%;
    /* cursor: pointer; */
    /* border-radius: 12px; */
}

.button-add.button-add:hover {
    background-color: #00e216;
}

.button-delete {
    background-color: #910000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 18px 2%;
}

.button-delete.button-delete:hover {
    background-color: #e20000;
}
