{% extends 'EvPresentaciones/BASE/base.html' %}
{% block contenido %}
<!-- Evaluacion -->
<div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación <i class="w3-text-green">en curso</i> </b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">
        <p><b></b> Presentación {{ evaluacion }} <i>{{ curso }}</i></p>
        <br>

        <!-- Despliegue de evaluadores -->
        <div class="w3-panel  w3-margin-bottom">
            <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i></li>

                {% for evaluador in evaluadores %}
                    <li class="w3-padding-16">  {{ evaluador.first_name }} {{ evaluador.last_name }} </i>
                    </li>
                    <!-- Despliegue de evaluadores
    <li class=" w3-padding-16 presentado"> Evaluador 2 <i style="margin-left: 10px"
        class="far fa-check-circle"><i class="w3-small"> ya evaluó</i></i>
    </li>
    <li class="w3-padding-16"> Evaluador 3 <i style="margin-left: 10px" class="w3-large fas fa-times"></i></li>-->
                {% endfor %}
                <li class="opcion w3-padding-16"> Agregar otro <i style="margin-left: 10px"
                                                                  class="fas fa-user-plus"></i>
                </li>
            </ul>
        </div>
        <div class="w3-panel  w3-margin-bottom">
                <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Grupo <i class="fas fa-user-tie"></i></li>
    
                        <li class="w3-padding-16"> {{grupo}} </i>
                        </li>
                        <!-- Despliegue de evaluadores
        <li class=" w3-padding-16 presentado"> Evaluador 2 <i style="margin-left: 10px"
            class="far fa-check-circle"><i class="w3-small"> ya evaluó</i></i>
        </li>
        <li class="w3-padding-16"> Evaluador 3 <i style="margin-left: 10px" class="w3-large fas fa-times"></i></li>-->
                </ul>
        </div>


        <div class="w3-row-padding" style="margin-top:30px">
            <div class="w3-half w3-margin-bottom ">
                <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i
                            class="fas fa-user-friends"></i>
                    </li>
                    {% for a in alumnos%}
                    <li class="presentado w3-padding-16">{{a.nombre}} {{a.apellido}} {% if a.presento %}<i class="far fa-check-circle"></i><i class="w3-small">ya presentó</i>{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="w3-half w3-margin-bottom ">
                <ul class="w3-ul w3-light-grey w3-center w3-card-4" id="Presentacion">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros que presentan <i class="fas fa-chalkboard-teacher"></i></li>
                    <li class=" opcion w3-padding-16" id="mas" onclick="getElementById('modificar_miembro').style.display='block'"> Agregar otro <i style="margin-left: 10px"
                                                                                class="fas fa-user-plus"></i></li>
                </ul>
            </div>
        </div>

        <div id="modificar_miembro" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <div class="w3-center">
                    <br>
                    <span onclick="document.getElementById('modificar_miembro').style.display='none'" 
                    class="w3-button w3-large w3-transparent w3-display-topright" title="Close Modal">x</span>
                    <form id="form" method="POST" class="w3-container" action="{url 'agregar_alumno_presentacion'">
                        <label><b>Alumno que Presentará</b></label>
                        <select class="w3-input w3-border" name="nombre" required id="valorAlumno">
                            {% for a in alumnos%}
                                {% if a.presento %}
                                  <option>{{a.nombre}}{{a.apellido}}</option>
                                {% endif %}
                            {% endfor%}
                        </select>
                        <button class="w3-button w3-block w3-red w3-section w3-padding"
                                type="submit" onclick="modificar(document.getElementById('valorAlumno').value)">Agregar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--TODO Arreglar el formateo de la nota de los criterios de evaluacion-->
        <!-- Aqui puse el valor de los criterios por si acaso, hay que formatearlo mejor-->
        <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p>
        Los criterios de Evaluación tienen los siguiente valores posibles:
        {% for numero in rubrica.0 %}
            {{ numero }}
        {% endfor %}
    </div>
    <!--Aqui van los bloques de cada criterio de la rubrica-->

    {% for asp in aspecto %}
        <div class="w3-panel  w3-margin-bottom">
            <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                <li class="w3-red w3-xlarge w3-padding-32">{{ asp }} <i class="far fa-check-circle"></i></li>

                {% for crit in criterios %}
                    {% if forloop.parentloop.counter == forloop.counter %}
                        {% for ble in crit %}
                        <li class="opcion w3-padding-16" onclick="modificar(this.id)"  id={{asp}}{{ble}}>{{ ble }} </li>
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    {% endfor %}


    <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
    <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final
      <input class="w3-input w3-border w3-round" type="number" size="1" placeholder="15"
             style="width:15%; display:inline; margin-left: 10px"> : <input class="w3-input w3-border w3-round"
                                                                            style="width:15%; display:inline"
                                                                            type="number" placeholder="35"></span>
    </div>

    <div class="w3-panel w3-right w3-half">

        <input type="submit" class="w3-button w3-xlarge w3-red" style="margin-left: 15%" value="Entregar evaluación"
               onclick="return confirm('Se entregaran los resultados,¿ Esta seguro ?')"/>

    </div>
</div>
  
    <script>
        function modificar(id) {
            var x=document.getElementById(id);
            if(x.className=="opcion w3-padding-16 selected"){
              x.className="opcion w3-padding-16";
            }
            else{
              x.className="opcion w3-padding-16 selected";
            }
        }
        function agregar(name){
            var list=document.getElementById("Presentacion").getElementsByTagName("ul")[0];
            var newItem=document.createElement("li");
            var newText=document.createTextNode(name);
            newItem.appendChild(newText);
            list.appendChild(newItem);
        }

    </script>

    <!-- End page content -->
  </div>
{% endblock %}