{% extends 'EvPresentaciones/BASE/base.html' %}
{% block contenido %}
    <!-- Evaluacion -->
    <div class="w3-container" id="designers" style="margin-top:50px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación <i class="w3-text-green">en curso</i> </b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <div class="w3-container w3-center">
            <p><b></b> Presentación {{ evaluacion }} <i>{{ curso }}</i></p>
            <br>

            <!-- Despliegue de evaluadores -->
            <div class="w3-panel  w3-margin-bottom">
                <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i></li>

                    {% for evaluador in evaluadores %}
                        <li class="w3-padding-16">  {{ evaluador.first_name }} {{ evaluador.last_name }} </i>
                        </li>
                    {% endfor %}
                                        <!-- Boton agregar -->
                    <li>
                        <button class="opcion w3-padding-16"
                                style="padding: 0; border: none; background: none;"
                                onclick="document.getElementById('agregar_evaluador').style.display='block'">
                                Agregar otro <i style="margin-left: 10px"  class="fas fa-user-plus"></i>
                        </button>
                    </li>
                </ul>
            </div>

                    <!-- Formulario agregar evaluador -->
            <div id="agregar_evaluador" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                    <div class="w3-center"><br>
                        <span onclick="document.getElementById('agregar_evaluador').style.display='none'"
                            class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <form id="form" method="POST" class="w3-container"
                            action="{% url 'evaluacion_agregar_evaluador' evaluacion.id grupo_elegido%}">
                            {% csrf_token %}

                            <div class="w3-section">
                                <label><b>Seleccione </b></label>

                                <select class="w3-input w3-border" name="evaluador_agregado" required>
                                    {% for usuario in evaluadores_para_agregar %}
                                        <option value={{ usuario.email }}> {{ usuario.first_name }} {{ usuario.last_name }}
                                        - {{ usuario.email }}
                                        </option>
                                     {% endfor %}
                                </select>

                                <button class="w3-button w3-block w3-red w3-section w3-padding"
                                    type="submit">Agregar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="w3-panel  w3-margin-bottom">
                <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Grupo <i class="fas fa-user-tie"></i></li>

                    <li class="w3-padding-16"> {{ grupo_elegido }} </i>
                    </li>
                </ul>
            </div>


            <div class="w3-row-padding" style="margin-top:30px">
                <div class="w3-half w3-margin-bottom ">
                    <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i
                                class="fas fa-user-friends"></i>
                        </li>
                        {% for par in alumnos %}
                            {% if par.presento %}c
                                <li class="presentado w3-padding-16" id="{{ par.rut }}"
                                    onclick=get_presentador(this.id,"{{ par.nombre }}","{{ par.apellido }}");> {{ par.nombre }} {{ par.apellido }}
                                    <i
                                            class="far fa-check-circle"></i> <i
                                            class="w3-small">ya presentó</i></li>
                            {% else %}
                                <li class="presentado w3-padding-16" id="{{ par.rut }}"
                                    onclick=get_presentador(this.id,"{{ par.nombre }}","{{ par.apellido }}");> {{ par.nombre }} {{ par.apellido }} </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="w3-half w3-margin-bottom " id="presentadores">
                    <ul class="w3-ul w3-light-grey w3-center w3-card-4" id="Presentación">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros que presentan <i
                                class="fas fa-chalkboard-teacher"></i></li>
                        <li class="w3-padding-16" id="presenta" onclick=eliminar_presentador(this.id);><i
                                style="margin-left: 10px"
                        ></i></li>
                    </ul>
                </div>
            </div>

        </div>
        <!--Aqui van los bloques de cada criterio de la rubrica-->

        {% for asp in aspecto %}
            <div class="w3-panel  w3-margin-bottom" id="criterios">
                <ul class="w3-ul w3-light-grey w3-center w3-card-4" id="{{ forloop.counter }}">
                    <li class="w3-red w3-xlarge w3-padding-32"> {{ asp }} <i class="far fa-check-circle"></i></li>
                    {% for crit in criterios %}
                        {% if forloop.parentloop.counter == forloop.counter %}
                            {% for ble in crit %}
                                <li class="opcion w3-padding-16" style="background-color: transparent"
                                    name="{{ forloop.counter }}" id="{{ ble }}"
                                    onclick="elegir_aspecto(this.id,this.parentNode.id)">{{ ble }} </li>
                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
        {% endfor %}


        <form id="evaluacion_lista" method="POST" action="{% url 'post_evaluacion_admin' %}">
            {% csrf_token %}
            <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
                <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final
      <input class="w3-input w3-border w3-round" type="number" size="1" placeholder="0" id="minutos" name="minutos"
             style="width:15%; display:inline; margin-left: 10px"> : <input class="w3-input w3-border w3-round"
                                                                            style="width:15%; display:inline"
                                                                            type="number" placeholder="0"
                                                                            id="segundos" name="segundos"></span>
            </div>
            <input type="hidden" id="idevaluacion" name="idevaluacion" value="{{ evaluacion.id }}">
            <input type="hidden" id="lista_atributos" name="lista_atributos" value="">
            <input type="hidden" id="presentador" name="presentador" value="">
            <div class="w3-panel w3-right w3-half">

                <input type="button" class="w3-button w3-xlarge w3-red" style="margin-left: 15%"
                       value="Entregar evaluación"
                       onclick=guardar();>

            </div>

        </form>

    </div>

    <!-- End page content -->

    <!--TODO Arreglar los evaluadores, colocarle colores para identificar-->
    <!-- Evaluacion -->
    <!--Aqui empiezan los scripts -->
    <script>
        var csrftoken = '{{ csrf_token }}';
        var grupo = "";
        var presentador = "";
        var palabra = "";
        //diccionario para guardar el valor de los atributos
        var dict = {};
        var dict_color = {};
        var color = "#6FE1AF";


        function guardar_grupo(id) {
            grupo = document.getElementById(id).id;
            get_grupo();
            console.log("hola que hace" + grupo);
        }

        function get_grupo() {
            console.log(document.getElementById('grupo_enviado').getAttribute("value"));
            document.getElementById('grupo_enviado').setAttribute("value", grupo);
            console.log(document.getElementById('grupo_enviado').getAttribute("value"));
        }

        function get_presentador(id, nombre, apellido) {
            presentador = document.getElementById(id).id
            var nodo = document.createElement("LI");
            var text = document.createTextNode(nombre + " " + apellido);
            nodo.appendChild(text);
            document.getElementById("presenta").appendChild(nodo);
        }

        function eliminar_presentador(id) {
            var element = document.getElementById(id).lastChild;

            var tag = document.getElementById("presenta");
            tag.removeChild(element);
            presentador = ""
        }

        //para guardar que aspecto fue elegido
        function elegir_aspecto(valor, aspecto) {
            var name = document.getElementById(valor)
            dict[aspecto] = name.getAttribute("name");
            console.log("padre= " + aspecto + " " + "hijo= " + valor);

            if (!dict_color.hasOwnProperty(aspecto)) {
                name.setAttribute("style", "background-color: red;");
                name.style.backgroundColor = color;
                dict_color[aspecto] = name;
            } else {
                var aux = dict_color[aspecto];
                aux.style.backgroundColor = "transparent"
                dict_color[aspecto] = name
                name.style.backgroundColor = color;

            }


            console.log(dict);
        }


        function guardar() {
            if (check()) {
                if (confirm('¿Desea Guardar sus resultados?')) {
                    for (var key in dict) {
                        palabra += key + ":" + dict[key] + "|";
                    }
                    document.getElementById('presentador').setAttribute("value", presentador)
                    document.getElementById('lista_atributos').setAttribute("value", palabra);
                    document.getElementById("evaluacion_lista").submit();
                }
            }
        }

        function check() {
            var tamanho = {{ tamaño_atributos }};

            if (Object.keys(dict).length !== tamanho) {
                alert("Debe ingresar una respuesta en todos los campos");
                return false
            }
            if (presentador === "") {
                alert("Debe ingresar un presentador");
                return false
            }
            if (document.getElementsByName("minuos").value < 0) {
                alert("ingrese minutos mayor a 0");
                return false
            }
            if (document.getElementsByName("segundos").value < 0) {
                alert("ingrese segundo mayor a 0");
                return false
            }
            if (document.getElementsByName("minuos").value < 60) {
                alert("ingrese minutos menor a 600");
                return false
            }
            if (document.getElementsByName("segundos").value < 60) {
                alert("ingrese segundo menor a 60");
                return false
            }
            return true
        }

    </script>
    <!-- End page content -->


{% endblock %}