{% extends 'EvPresentaciones/BASE/base.html' %}
{% block contenido %}
    <!-- Se pone porque no se pudo hacer funcionar desde clase "orange" en CSS-->
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin: 20px 0.5% 0.5%;
      font-size: 15px;
    }

    td {
      border: 1px solid #665f5f;
      text-align: left;
      width: 12%;
      padding: 1%;
    }

    th {
      border: 1px solid #665f5f;
      text-align: center;
      width: 12%;
      padding: 1%;
    }

    tr:nth-child(even) {
      background-color: #FFA07A;
    }
    </style>
    <!-- HEADER -->
    <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Rúbricas</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

    <div class="w3-row w3-container">
        <div class="w3-col" align="left">
                <label>Intervalo de presentación: {{ tmin }} - {{ tmax }}</label>
        </div>
    </div>
    <div class="w3-container">
        <table>
            {% for row in lineas %}
            <tr>
                {% for col in row %}
                <th> {{ col }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
