{% extends 'EvPresentaciones/BASE/base.html' %}
{% block contenido %}
    <!-- HEADER -->
    <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Rúbricas</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

        <div class="w3-row w3-container">
            <div class="w3-col" align="left">
                    <label>Intervalo de presentación: {{ tmin }} - {{ tmax }}</label>
            </div>
        </div>
        <div class="w3-container">
            <table class="orange">
                {% for r in lineas %}
                <tr>
                    {% for a in r %}
                    <th> {{ a }}</th>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>

{% endblock %}